ebx-cs-commons-web/src/main/webapp/WEB-INF/ebx/schemas/Permissions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--XML schema generated from EBX(TM) DMA instance [reference=Permissions] on Sun Nov 17 17:23:23 CET 2019 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:inheritance>
                <dataSetInheritance>none</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="D:/Dev/Git/ebx-cs-commons/ebx-cs-commons-lib/src/main/java">
                <javaPathConstants typeName="com.tibco.ebx.cs.commons.api.path.PermissionsPaths">
                    <nodes root="/root" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AccessRule" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Access Rule</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Règle d'accès</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/identifier </primaryKeys>
                                <defaultLabel>${./dataspace} - ${./dataset} - ${./table} - ${./field}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="identifier" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Identifier</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Identifiant</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataspace" type="osd:dataspaceKey" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Dataspace</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Espace de données</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataspaceRegexp" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Regular expression</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Expression régulière</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="includeDescendant" type="xs:boolean" minOccurs="1" maxOccurs="1" default="true">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Include descendant</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Inclure les descendants</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataset" type="osd:datasetName" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Dataset</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Jeux de données</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:datasetSet>
                                            <dataspaceSelector>/root/AccessRule/dataspace</dataspaceSelector>
                                            <include>
                                                <pattern>.*</pattern>
                                            </include>
                                        </osd:datasetSet>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="table" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Table</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Table</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:constraintEnumeration class="com.tibco.ebx.cs.commons.constraint.enumeration.TableConstraintEnumeration">
                                                <datasetPath>../dataset</datasetPath>
                                                <dataspacePath>../dataspace</dataspacePath>
                                            </osd:constraintEnumeration>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="field" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Field</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Champ</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:constraintEnumeration class="com.tibco.ebx.cs.commons.constraint.enumeration.FieldConstraintEnumeration">
                                                <datasetPath>../dataset</datasetPath>
                                                <dataspacePath>../dataspace</dataspacePath>
                                                <tablePath>../table</tablePath>
                                            </osd:constraintEnumeration>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="roles" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Roles</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Roles</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:constraintEnumeration class="com.tibco.ebx.cs.commons.constraint.enumeration.RoleConstraintEnumeration"/>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Condition" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Condition</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Condition</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="accessRight" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Access right</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Droit d'accès</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration osd:label="Read write" value="W">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">Read-Write</xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">Ecriture</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration osd:label="Read-Only" value="R">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">Read only</xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">Lecture seule</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration osd:label="Hidden" value="H">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">Hidden</xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">Caché</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
